body {}

.CoolTitle {
    font-size: 8em;
    background: linear-gradient(to right, red, blue);
    -webkit-text-fill-color: transparent;
    width: max-content;
    -webkit-background-clip: text;
}

.done {
    text-decoration: line-through;
}