#title {
  background-color: #519872
}

@media (max-width: 991px) {
  #title {
    padding-left: 100px;
    text-align: center;
  }
}

body {
  font-family: 'Baloo Tamma 2', cursive !important;
}

.container-fluid {
  padding: 3% 15% !important;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
  font-weight: 300;
}

.navbar-brand {
  font-size: 30px !important;
  font-weight: 500px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: lighter;
}

/* header */
.header {
  padding-bottom: 8%;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 60px !important;
  line-height: 1.5;
  font-weight: 700;
  color: white;
}

h2 {
  /* font-family: 'Staatliches', cursive; */
}

h3 {
  font-family: 'Staatliches', cursive;
}

/* paragraphs */
p {
  color: #8f8f8f;
  font-weight: 300;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  padding-bottom: 3%;
  left: 10%;
}

@media (max-width: 991px) {
  .title-image {
    position: static;
    transform: rotate(-10deg);
  }
}

/* icon for features */
.icon {
  color: #a35d6a;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #fddb3a;
}

/* features */
#features {
  padding: 4% 15%;
  background-color: white;
  position: relative;
  /* z-index: 1; */
  */
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #519872;
  color: #ffff;
  font-size: 30px !important;
}

.testimonial-image {
  width: 10%;
  height: 9%;
  border-radius: 80px;
  margin: 12.5px;
}

.testimonial-image2 {
  width: 10%;
  border-radius: 65px;
  margin: 25px;
}

.carousel-item {
  padding: 9% 15%;
}

.carousel-item1 {
  width: 20%
}

/* press */
#press {
  background-color: #519872;
  text-align: center;
  padding-bottom: 2%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px
}

/* <!-- Pricing --> */
#pricing {
  padding: 100px;
  text-align: center;
}

.Pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  text-align: center;
  background-color: #52575d;
  line-height: 1.5;
  padding-top: 3%;
}

.header-cta {
  color: white;
  font-size: 3.5rem !important;
}

.download-button-cta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5%;
}

/* Footer */
#footer{
  padding: 4% 0 2% 0;
  background-color: white;
  text-align: center;
}
.footer-icon{
size: 3%;
}
.footer-Copyright{
  padding-top: 2%;
}
