/*https://colorhunt.co/palette/35497*/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;;
  ;
}

/*****************************Headings & Headers***************************/
h1 {
  margin: 300px auto 0 auto;
  font-family: 'Staatliches', cursive;
  font-size: 150px;
  color: #ebecf1;
  line-height: 25%;
  font-weight: normal;
}

.profession {
  font-size: 2.6rem;
  margin-top: 60px;
}

h2 {
  color: #192965;
  margin-bottom: 50px;
  font-size: 40px;
  margin-top: 50px;

}

.In-Touch {
  margin-top: 0px;
  top: 30px;
  margin-bottom: 3%;
}

h3 {
  color: #192965;
  margin-top: 2%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #fa1616;
  border-width: 9px;
  width: 4%;
  margin-top: 7%;
  margin-bottom: 7%;
}

/**************************************Containters***************************/
.top-container {
  background-color: #3282b8;
  position: relative;
  padding-top: 4%;
}

.middle-container {
  background-color: #eeeeee;

}

.skill-row {
  width: 40%;
  margin: 90px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #fa1616;
  height: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*************************************Images*********************************/
.profile-img {
  margin-top: 90px;
  width: 250px;
  border-radius: 50%;
  padding: 1px;
  border: 2px solid #021a40;
}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 360px;
  bottom: 400px;
}

.jet-fighter {
  display: block;
  position: absolute;
  right: 700px;
  bottom: 750px;
}

.mountain {
  max-height: 800%;
  width: auto;
  margin-top: 40px;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 70px;
  margin-bottom: 20px;
}

.drums {
  width: 25%;
  float: right;
  margin-left: 80px;
}

/*************************************Paragraphs**************************/
.profile {
  margin-bottom: 5%;
  margin: auto;
}

.Intro {
  width: 28%;
  text-align: center;
  line-height: 2;
  margin: auto;
}

.In-Touch-P{
  margin-top: 4%;
  margin-bottom: 3%;
}

/**********************************Button**********************************/
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin-bottom: 5%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

/********************************Footers**************************/
.footer-link {
color: 005086;
font-style: normal;
font-weight: bolder;
}

.footer-link2{
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bolder;
}

.footer-icon{
  font-size: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: small;
}
