/*https://colorhunt.co/palette/35497*/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  ;
}
/******************************************Headings***************************/
h1 {
  margin: 60px auto 0 auto;
  font-family: 'Staatliches', cursive;
  font-size: 90px;
  color: #ebecf1;
  line-height: 130%;
  font-weight: normal;
}

.pro {
  font-size: 2.6rem;
}

h2 {
  color: #050505;
}

h3 {
  color: #050505;
}
/**************************************Containters***************************/

.top-container {
  background-color: #3282b8;
  position: relative;
  padding-top: 330px;
}

.middle-container {
  background-color: #eeeeee;
}


.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
    line-height: 2;
  }

.bottom-container {
  background-color: #c4fb6d;
  margin-bottom: 0px;
}

/*************************************Images*********************************/

.profile-img{
  margin-top: 90px;
  width: 300px;
  border-radius:50%;
  padding:1px;
   border:1px solid #021a40;
}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 140px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.airplane {
  display: block;
  position: absolute;
  right: 800px;
  bottom: 750px;
}

.mountain {
  max-height: 200%;
  width: auto;
}

.pc-img {
  width: 25%;
  border-radius: 50%;
  float:left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
}
/*************************************Paragraphs**************************/

.profile{
  margin-bottom: 5%;
}
