/*https://colorhunt.co/palette/35497*/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  ;
}
/*****************************Headings & Headers***************************/
h1 {
  margin: 290px auto 0 auto;
  font-family: 'Staatliches', cursive;
  font-size: 150px;
  color: #ebecf1;
  line-height: 25%;
  font-weight: normal;
}

.pro {
  font-size: 2.6rem;
  margin-top: 60px;
}

h2 {
  color: #050505;
}

h3 {
  color: #050505;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #fa1616;
  border-width: 9px;
  width: 4%;
  margin-bottom: 5%;
}
/**************************************Containters***************************/

.top-container {
  background-color: #3282b8;
  position: relative;
  padding-top: 7%;
}

.middle-container {
  background-color: #eeeeee;
}


.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
    line-height: 2;
  }

.bottom-container {
  background-color: #fa1616;
  height: 80px;
}

/*************************************Images*********************************/

.profile-img{
  margin-top: 90px;
  width: 250px;
  border-radius:50%;
  padding:1px;
  border:2px solid #021a40;
}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 240px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 400px;
}

.airplane {
  display: block;
  position: absolute;
  right: 800px;
  bottom: 750px;
}

.mountain {
  max-height: 200%;
  width: auto;
  margin-top: 60px;
}

.pc-img {
  width: 25%;
  border-radius: 50%;
  float:left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 40px;
}
/*************************************Paragraphs**************************/

.profile{
  margin-bottom: 5%;
}

.Welcome-Paragraphs{
 width: 30%;
 text-align: center;
 line-height: 2;
 margin-left: 35%;
}
